<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="noindex, nofollow">
    <title>Login | DIN</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<!--<body style="background-image:url(img/bg-2.jpg); background-repeat:no-repeat; background-size: cover; padding-top:10%;">-->
<body style="background-color:#23c6c8; padding-top:10%;">
    <div class="middle-box text-center loginscreen animated fadeInDown" style="background-color:rgba(28, 132, 198, 0.55); margin-top:0;">
        <div style="padding:20px;">
            <div>
                <img src="img/logo.png" />
            </div>
            <h3 style="line-height:25px;"><font color="#ffffff">DIN</font></h3>
            <form class="m-t" role="form" action="#" method="post">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Admin Id" name="user" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password" required="">
                </div>
                <button type="submit" name="login" class="btn btn-primary block full-width m-b">Login</button>
            </form>
        </div>
    </div>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>